@import './../../styles/variables.scss';


.bookshelf{
    background-color: white;
    width: 65vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    &__wrapper{
        flex-grow: 1;
        overflow-y: auto;
        padding: 20px;
    }
    &__list{
        display: flex;
        flex-flow: row wrap;
    }
}