@import './../../styles/variables.scss';


.bookshelf{
    background-color: white;
    width: 65vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    &__wrapper{
        flex-grow: 1;
        overflow-y: auto;
        padding: 20px;
    }
    &__list{
        display: flex;
        flex-flow: row wrap;
    }

    @media only screen and (max-width: $xs-screen-max){
        width: 100%;
        margin-top: 100px;
        height: calc(100% - 100px);
    }
}