@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

.bookshelf{
    &__book{
        display: flex;
        background-color: #f8fafb;
        // border: solid 1px darkgray;
        border-bottom: solid 1px lightgrey;
        border-right: solid 1px lightgrey;
        box-shadow: 0px 8px 3px -6px lightgrey;
        box-sizing: border-box;

        @media only screen and (min-width: $sm-screen){
            width: calc( (100% / 2) - 20px );
        }

        @media only screen and (min-width: $xl-screen){
            width: calc( (100% / 3) - 20px );
        }
        width: calc( 100%  - 20px );
        height: 230px;
        margin: 10px;
        padding: 8px;
    }
    &__bookImg{
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 37%;
        overflow: hidden;
        margin-right: 8px;
        max-height: 207px;
        img{
            outline: 2px solid white;
            outline-offset: -5px;
            width: 100%;
            height: -webkit-fill-available;
        }
    }
    &__bookInfo{
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc(100% - 40%);
    }
    &__bookTitle{
        margin: 0 0 3px 0;
        padding: 0;
        @include fonts(bold, 22px, black);
        font-family: 'Open Sans Condensed', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.15em;
    }
    &__bookAuthorList{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &__bookAuthor{
        display: inline-block;
        @include fonts(normal, 18px, darkgrey);
        font-family: 'Open Sans Condensed', sans-serif;
        text-transform: lowercase;
        letter-spacing: 0.1em;
        font-style: italic;
        &:not(:last-of-type){
            &:after{
                content: ",";
                display: inline-block;
            }
            margin-right: 5px;
        }
    }
    &__bookPages{
        @include fonts(normal, 18px, darkgrey);
        font-family: 'Open Sans Condensed', sans-serif;
        text-transform: lowercase;
        letter-spacing: 0.1em;
    }
}