.bookshelf{
    &__book{
        display: flex;
    }
    &__bookImg{
        flex-direction: column;
        width: inherit;
        margin-right: 8px;
    }
    &__bookInfo{
        flex-direction: column;
    }
}