@import './../../styles/mixins.scss';
@import './../../styles/variables.scss';


footer{
    padding: 10px 20px;
    background-color: $navyblue;
    color: white;
    font-size: 10px;
    display: flex;

    span{
        width: 50%;
        &:nth-child(even){
            text-align: right;
        }
        //align-items: flex-end;
    }
}