@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700&display=swap');
@import url('https://css.gg/c?=|check-o|radio-check|radio-checked|loadbar|loadbar-doc|file|file-document|info');

.App {
  font-family: 'Rubik', sans-serif;

  display: inherit;

  .column{
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #left {
    flex-shrink: 0;
    background-color: white;
  }
  #right {
    background-color: #f3f3f3;
  }

  .top-left {
    flex-shrink: 0;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  .top-right {
    display: inline-flex;
    flex-shrink: 0;
    background-color: #333;
    color: white;
    padding: 20px;
  }
  .bottom {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
  }

  ul{
    display: inline-flex;
    list-style: none;
    margin: 0;
  }
  li{
    margin-right: 20px;
  }





  .testContent{
    width: 100%;
    height: 800px;
    background-color: darkolivegreen;
    @media only screen and (min-width:992px){
      width: 60vw;
    }
  }
  .readingStatusIcons{
    color: red;
    //--ggs: 2;
    display: flex;
    align-items: center;
    i{
      display: inline-block;
      margin-left: 20px;
      margin-right: 50px;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
